ol.code {
	white-space: pre;
	font-family: "Lucida Console", Monaco, monospace;
	color: gray;
	background-color: rgb(33,33,33);
	font-size: 14px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 55px;
	/*display: inline-block;*/
}
span.code{
	color: rgb(235,235,235);
}
span.code.comment{
	color: rgba(0,255,0,.25);
}
span.code.comment-block{
	color: rgba(0,255,0,.35);
}
.selected{
	background-color: pink;	
}
