<!DOCTYPE html>
<html>
    <head>
        <title>HTML5 Video</title>
        <style type="text/css">
            body {
                overflow: hidden;
                padding:0;
                margin:0;
                background-repeat: no-repeat;
                background-position: center;
                background-color: black;
            }
            video {
                width: 100%;
                height: 100%;
                display: none;
            }
        </style>
    </head>
    <body>
        <video id="video" type="video/mp4" autoplay>Your browser does not support the <code>video</code> element.</video>
        <script>
            (function(){
                var myVideo = document.getElementById('video');
                // video src from hash
                // http://example.com/popup.html#http://example.net/The.Middle.mp4&179
                if(window.location.hash.match(/^#https:\/\//i)){
                    var hash = window.location.hash.replace('#', '');
                    window.location.hash = "";
                    var show = hash.split('&');
                    var src = show[0];
                    var currentTime = Math.floor(parseInt(show[1])) || 0;
                    var file = src.match(/[\w\.\-]+$/); 
                }
                else window.close();

                window.location.hash = file[0];
                myVideo.setAttribute('src', src);

                video.addEventListener('loadedmetadata', function() {
                    this.currentTime = currentTime;
                    // resize window to video size
                    window.resizeBy(this.videoWidth-window.innerWidth,
                        this.videoHeight-window.innerHeight);
                    this.style.display = 'block';
                    //this.setAttribute("controls", "controls");
                }, false);

                window.addEventListener('unload', function() {
                    var EPG = '?';
                    console.log('onunload|storing current time');
                    console.log({
                        localStorageKey: "last"+EPG,
                        video: myVideo.src,
                        video: myVideo.currentTime
                    });
                });
            })();
        </script>
    </body>
</html>
